{% extends "dirbalakbase.html" %}

{% block content %}
    <div class="container">
        <h2>Build Hosts</h2>

        <ul data-bind="foreach: { data: hosts, as: 'host' }">
            <li>
                <span data-bind="text: host.ipAddress"></span>: 
                <ul>
                    <li>
                        Currently: 
                        <span data-bind="if: ! host.job()">Idle</span>
                        <span data-bind="if: host.job()">
                            <span data-bind="text: host.job().gitURL" style="font-weight: bold"></span>
                            /
                            <span data-bind="text: host.job().hexHash"></span>
                        </span>
                    </li>
                    <!-- ko foreach: events -->
                        <li>
                            <span data-bind="text: time.toLocaleString()"></span>
                            -
                            <span data-bind="text: text"></span>
                        </li>
                    <!-- /ko -->
                </ul>
            </li>
        </ul>
        <div data-bind="if: hosts().length == 0">
            No build hosts are currently allocated
        </div>
    </div>

    <script type="text/javascript" src="/externals/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="/externals/underscore-min.js"></script>
    <script type="text/javascript" src="/realtimewebui/realtimewebui.js"></script>
    <script>
        function BuildHost(ui, ipAddress) {
            var self = this;
            self.ui = ui;
            self.ipAddress = ipAddress;
            self.job = ko.observable(null);
            self.events = ko.observableArray([]);

            self.setJob = function(ob) {
                self.job(ob.job);
            };

            self.setEvents = function(ob) {
                if (ob == null)
                    return;
                self.events.removeAll();
                for ( var i = ob.length - 1; i >= 0; i -= 1 )
                    self.events.push({time: new Date(ob[i].time * 1000), text: ob[i].text});
            };

            ui.register("buildHost/" + ipAddress, self.setJob);
            ui.register("events/buildHost/" + ipAddress, self.setEvents);
            self.unregister = function() {
                ui.unregister("buildHost/" + ipAddress, self.setJob);
                ui.unregister("events/buildHost/" + ipAddress, self.setEvents);
            };
        }
        function Model() {
            var self = this;
            self.ui = null;
            self.hosts = ko.observableArray([]);

            self.setBuildHostsList = function(ob) {
                for (var ipAddress in ob)
                    if (_.find(self.hosts(), function(x) { return x.ipAddress == ipAddress; }) === undefined)
                        self.hosts.push(new BuildHost(self.ui, ipAddress));
                var toRemove = [];
                for (var i in self.hosts()) {
                    var host = self.hosts()[i];
                    if (! ob[host.ipAddress])
                        toRemove.unshift(i);
                }
                for (var i in toRemove) {
                    var index = toRemove[i];
                    self.hosts()[index].unregister();
                    self.hosts.splice(index, 1);
                }
            };
        }
        var model = new Model();
        ko.applyBindings(model);
        var ui = new RealTimeWebUI();
        ui.register("buildHostsList", model.setBuildHostsList);
        model.ui = ui;
    </script>

{% endblock %}
