{% extends "dirbalakbase.html" %}

{% block content %}
    <div class="container">
        <h3>Projects</h3>
    </div>

    <div style="text-align: center">
        <p>
            <div id="graph">
            </div>
            <p>
                <input type="checkbox" data-bind="checked: dirbalakBuildRootFSArcs">Dirbalak Build RootFS Arcs
                &nbsp;
                <input type="checkbox" data-bind="checked: solventRootFSArcs">Solvent RootFS Arcs
            </p>
        </p>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Owner</th>
                    <th>Group</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: projects">
                <tr>
                    <td>
                        <a data-bind="attr: {href: '/project/' + basename }, text: basename"></a>
                    </td>
                    <td>
                        <a data-bind="attr: {href: '/project/' + basename }, text: gitURL"></a>
                    </td>
                    <td data-bind="text: owner"></td>
                    <td data-bind="text: group"></td>
                    <td>
                        <span data-bind="if: buildBanned">
                            Build banned:
                            <span data-bind="text: buildBanned"></span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <button data-bind="click: requestFetch" class="btn btn-primary">Request All Projects Fetch</button>
        </div>
    </div>

    <script type="text/javascript" src="/realtimewebui/externals/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="/realtimewebui/js/realtimewebui.js"></script>
    <script type="text/javascript" src="/js/extendmodelwithgraph.js"></script>
    <script>
        function Model() {
            var self = this;
            self.projects = ko.observableArray([]);

            self.setProjects = function(ob) {
                self.projects.removeAll();
                for (var i in ob)
                    self.projects.push(ob[i]);
                self.projects.sort(function(left, right) {
                    return left.basename == right.basename ? 0 : 
                        (left.basename < right.basename ? -1 : 1);
                });
            };

            self.requestFetch = function() {
                areYouSureModal("Request Fetch", "Fetching all projects is VERY expensive. Are you sure you require it now?", "Fetch",
                        function(){ ui.command('userRequestsFetchAll', {}); });
            };
        }
        var model = new Model();
        extendModelWithGraph(model, "/graphs/allProjects");
        ko.applyBindings(model);
        var ui = new RealTimeWebUI();
        ui.register("projectsList", model.setProjects);
        ui.register("graph/generation", model.updateGraph);
    </script>

{% endblock %}
